[submodule "lib/csp"]
	path = lib/csp
	url = https://github.com/spaceinventor/libcsp
[submodule "lib/param"]
	path = lib/param
	url = https://github.com/spaceinventor/libparam
[submodule "lib/csp_proc"]
	path = lib/csp_proc
	url = https://github.com/discosat/csp_proc.git
